body{
    background-color: khaki;
    height: 100vh; /*may change*/


}

ul{
    list-style-type: none;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-div{
    text-align: center;
}
#new-item-div{
    display: flex;
    flex-direction: row;    
}
#del-btn{
    height: 25px;
    margin-right: 5px;
    background-color: red;
    color: white;
}
#new-item-text-field{

}
#item-text{

}
#new-item-btn{

}
#item-btn{

}
#list-div{

}
#list{
    font-family: Helvetica;
}
.text{
    font-family: Helvetica;
}